<section>
    <div class="contactInfo">
        <h1>Información de Contacto</h1>
        <h3>joseprado2293@gmail.com</h3>
        <img src="https://images.pexels.com/photos/1049764/pexels-photo-1049764.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/>
        <p>POR FAVOR NO</p>
    </div>
</section>