<footer>
    <div>
        <Img src="https://placehold.co/120x120?text=Logo"></Img>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam incidunt consequatur quibusdam similique pariatur dolorum autem tempora quasi delectus! Dolorum non eius voluptates molestias unde deserunt, cumque esse sapiente iusto.</p>
    </div>
    <section>
            <nav>
                <ul>
                    <li><a href="#"><img src="https://placehold.co/25x25?text=IG"></a></li>
                    <li><a href="#"><img src="https://placehold.co/25x25?text=FB"></a></li>
                    <li><a href="#"><img src="https://placehold.co/25x25?text=SC"></a></li>
                    <li><a href="#"><img src="https://placehold.co/25x25?text=TT"></a></li>
                </ul>
            </nav>
    </section>
</footer>