<div class="mainbody">
    <div class="bg-img">
        <section class="hero-panel">
            <div class="bghero-panel">
                <div class="profileJP">
                    <picture>
                        <img src="https://placehold.co/320x320" alt="Yopis" />
                    </picture>
                    <h2>José Prado</h2>
                    <h3>Estudiante Ingeniería en Ciencias de la Computación</h3>
                </div>
            </div>
        </section>
        <section class="card-container">
            <div class="card">
                <div class="card-image" style="backgroundImage">
                    <img src="https://placehold.co/320x320" alt="pagina1" />
                </div>
                <div class="card-title">
                    <h2>Página Ejemplo 1</h2>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="https://placehold.co/320x320" alt="pagina1" />
                </div>
                <div class="card-title">
                    <h2>Página Ejemplo 2</h2>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="https://placehold.co/320x320" alt="pagina1" />
                </div>
                <div class="card-title">
                    <h2>Página Ejemplo 3</h2>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="https://placehold.co/320x320" alt="pagina1" />
                </div>
                <div class="card-title">
                    <h2>Página Ejemplo 3</h2>
                </div>
            </div>
        </section>
    </div>
</div>